<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title id="EditBlockListTitle">Add to Website</title>
    </head>
    <body onload="RefreshList()">
      <button id="ExitBtn" type="click" style="background-color:#e74c3c">Exit</button>
      <a href="HomePage.html">Navigate to Home Page</a>
      <form id="SubmitWebsiteInput">
        <label for="name">Website to be blocked:</label>
        <input type="text" id="InputWebsite" required>
        <button id="InputWebsitebtn" type="submit" style="background-color:#e74c3c">Submit</button>
      </form>
    
      <form id="DeleteWebsiteInput">
        <label for="name">Website to be unlocked:</label>
        <input type="text" id="InputWebsiteU" required>
        <button id="InputWebsiteUbtn" type="submit" style="background-color:#e74c3c">Submit</button>
      </form>

      <p>Select app .exe file to block/unblock</p>
      <button id="FileSelector" type="click" style="background-color:#e74c3c">Select</button>

      <p>List of Blocked Websites:</p>
      <ul id="ListOfURLs"></ul>
      <p>List of Blocked Apps:</p>
      <ul id="ListOfApps"></ul>
      <button id="SignOutbtn" type="click" style="background-color:#e74c3c">Sign Out</button>
      <script src='../Controller/RenderEdit.js'></script>
    </body>
</html>