<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title id="EditBlockListTitle">Add to Website</title>
    </head>
    <body onload="RefreshList()">
        <a href="HomePage.html">Navigate to Home Page</a>
        <form id="SubmitWebsiteInput">
          <label for="name">Website to be blocked:</label>
          <input type="text" id="InputWebsite" required>
          <button id="InputWebsitebtn" type="submit" style="background-color:#e74c3c">Submit</button>
        </form>
    
        <form id="DeleteWebsiteInput">
          <label for="name">Website to be unlocked:</label>
          <input type="text" id="InputWebsiteU" required>
          <button id="InputWebsiteUbtn" type="submit" style="background-color:#e74c3c">Submit</button>
        </form>

        <form id="SubmitAppInput">
          <label for="name">App to be blocked(case sensitive):</label>
          <input type="text" id="InputAppName" required>
          <button id="InputAppbtn" type="submit" style="background-color:#e74c3c">Submit</button>
        </form>

        <form id="DeleteAppInput">
          <label for="name">App to be unlocked:</label>
          <input type="text" id="InputAppNameU" required>
          <button id="InputAppUbtn" type="submit" style="background-color:#e74c3c">Submit</button>
        </form>
        <p>List of Blocked Websites:</p>
        <ul id="ListOfURLs"></ul>
        <p>List of Blocked Apps:</p>
        <ul id="ListOfApps"></ul>
        <script src='../Controller/RenderEdit.js'></script>
    </body>
</html>