<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title id="HomePageTitle">Home Page</title>
  <link rel="stylesheet" type="text/css" href="HomePage.css">
</head>

<body onload="RefreshVariables()">
  <div class="container">
      <div class="header-container">
        <div class="top-bar">
        <button id="ExitBtn" type="click" >Exit</button>
        <button id="EditBlockListNav" type="click">Navigate to Edit Block List Page</button>
        <p id="CurrentUser">Signed in as: ..waiting</p>
        <button id="SignOutbtn" type="click">Sign Out</button>
      </div>
    
      <div class="right">
        <p id="NPoints">Current Points: 0</p>
      </div>
    </div>
    

    <div class="main-content">
      <form id="BeginRestriction">
        <label for="name">Begin Restriction for</label>
        <input type="number" id="inputTimeForRestriction" required min="30" step="5" value="30">
        <label> minutes.</label>
        <button id="InputBeginRestrictionbtn" type="submit">Start</button>
      </form>

      <p>Dev note: the timer is in seconds for the sake of this project, but pretend it is minutes</p>
    </div>
  </div>

  <div class="bottom-bar">
    <p>2023 DistractoGone. All rights reserved.</p>
  </div>
  
  <script src='../Controller/RenderHome.js'></script>
</body>

</html>
