<!DOCTYPE html>
<html>

    <head>
      <meta charset="UTF-8">
      <title id="HomePageTitle">Home Page</title>
    </head>

    <body onload="RefreshVariables()">

      <p id="CurrentUser">Signed in as: ..waiting</p>
      <a href="EditBlockList.html">Navigate to Edit Block List Page</a>

      <form id="BeginRestriction">
        <label for="name">Begin Restriction?(for 30 seconds)</label>
        <button id="InputBeginRestrictionbtn" type="submit" style="background-color:#e74c3c">Submit</button>
      </form>
      <p id="NPoints">Points: 0</p>
    <script src='../Controller/RenderHome.js'></script>
  
    </body>
</html>
