body {
    margin: 0;
    padding: 0;
    background-color: #d7e3f1;
    font-family: Arial, sans-serif;
}
  
/* style the top bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b2b2b7;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 10px;
}

.top-bar button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.top-bar button:hover {
    background-color: #c0392b;
}
  
.top-bar p {
    margin: 0;
}

button#EditBlockListNav,button#HomePageNav {
    border: none;
    background-color: transparent;
    color: #000000;
    font: bold;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    margin: 0;
}

.right {
    position: absolute;
    top: 75px;
    right: 20px;
    background-color: #b4c7e7;
    border-radius: 10px;
    width: fit-content;
}

#NPoints {
    color: #1d1f21;
    padding: 10px;
}

.HeaderText {
    position: absolute;
    top: 95px;
    left: 20px;
    background-color: #b4c7e7;
    border-radius: 10px;
    margin-right: 30px;
}

#PurchaseItemstxt {
    color: #1d1f21;
    padding: 10px;
    font-size: large;
    padding-top: 30px;
}

table {
    position: absolute;
    top: 135px;
    left: 20px;
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}
  
th, td {
    border: 1px solid black;
    padding: 10px;
}
  
thead {
    background-color: #525151;
    color: rgb(13, 12, 12);
}
  
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    height: fit-content;
}

tbody tr:nth-child(odd) {
    background-color: #d3d2d2;
    height: fit-content;
}
  
  

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b2b2b7;
    color: white;
    font-size: 14px;
    padding: 10px;
}
  
.bottom-bar p {
    margin: 0;
}