<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <form id="SignUpInput">
            <label for="EmailLBL">Email Testing update:</label>
            <input type="text" id="InputEmail" required>
            <label for="UserNameLBL">Username:</label>
            <input type="text" id="InputUserName" required>
            <label for="PasswordLBL">Password:</label>
            <input type="text" id="InputPassword" required>
            <button id="CreateUserBtn" type="submit" style="background-color:#3833d3">Create</button>
        </form>
        <a href="SignIn.html">Already have account?</a>
        <script src='../Controller/RenderSignUp.js'></script>
    </body>
</html>