<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <form id="SignInInput">
            <label for="UserNameLBLS">Username:</label>
            <input type="text" id="InputUserNameS" required>
            <label for="PasswordLBLS">Password:</label>
            <input type="text" id="InputPasswordS" required>
            <button id="SignInBtn" type="submit" style="background-color:#3833d3">Sign In</button>
        </form>
        <a href="SignUp.html">Don't have account?</a>
        <script src='../Controller/RenderSignIn.js'></script>
    </body>
</html>