<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" type="text/css" href="SignUp.css">
    </head>
    <body>
        <div class="top-bar">
            <h1>Sign Up</h1>
            <button id="ExitBtn" type="click">Exit</button>
        </div>
        <form id="SignUpInput">
            <label for="EmailLBL">Email:</label>
            <input type="email" id="InputEmail" required maxlength="50" >
            <label for="UserNameLBL">Username:</label>
            <input type="text" id="InputUserName" required maxlength="50" pattern="[a-zA-Z0-9]+" title="Acceptable characters: aA-Zz,0-9">
            <label for="PasswordLBL">Password:</label>
            <input type="text" id="InputPassword" required maxlength="50" pattern="[a-zA-Z0-9]+" title="Acceptable characters: aA-Zz,0-9">
            <button id="CreateUserBtn" type="submit" style="background-color:#3833d3">Sign Up</button>
        </form>
        <div class="bottom-bar">
            <a href="SignIn.html">Already have account?</a>  
        </div>
        <script src='../Controller/RenderSignUp.js'></script>
    </body>
</html>